<div id="login-span">
    <div id="login-toolbar">
    <% if current_user %>
      <a id="logout-link" href="/logout">Logout</a>
    <% else %> 
      <a id="login-link" href="'/login">Login</a>
      <a id="signup-link" href="/signup">Signup</a>
    <% end %>
    </div>
</div>